/* 
Background-color: #306;
color: #fff

    background-color: rgb(32 0 77);  #20004d

greys : #ced4da
#adb5bd
#dee2e6
#868e96

SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
      
FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  color: #fff;
}

.icon {
  height: 2.4rem;
  fill: #fff;
}

.container {
  height: 100vh;
  display: flex;
  overflow: hidden;
}

.navigation {
  background-color: #20004d;
  flex-basis: 6.8rem;
  overflow-y: hidden;
}

.navigation-small {
  display: none;
}

.main-content {
  flex: 1;
}

.btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}
